@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
font-family: 'Noto Sans KR', 'Nanum Pen Script', 돋움;

>#wrap{

>header{ //*
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 66px;
z-index: 100;
// border: 1px solid #000;

&:hover{
background-color: rgb(255, 255, 255);

>.container{
  >.logo{
    >a{
      background-image: url(../images/logo.png);
    }
  }

  >.top-nav{
    >.top-gnb{
      >li{
        >a{
          color: rgb(0, 2, 30);
          text-shadow: none;
        }
      }

    }
  }//end of top-nav

  >.sub-nav{
    >.sub{
      >li{
        >a{
          border: 1px solid #000;
          color: #000;
        }
      }
    }
  }

}//end of container
}//end of &:hover

>.bg_lnb{
display: none;
position: absolute;
left: 0;
top: 66px;
width: 100%;

>a{
  display: block;
  height: 174px;
  text-indent: -9999px;
  background-color: #e1e1e1;
  // border: 1px solid #000;
}
}

>.bg_sublnbfamily{
display: none;
position: absolute;
top: 66px;
left: 0;
width: 100%;

>a{
  display: block;
  height: 250px;
  text-indent: -9999px;
  background-color: #e1e1e1;
  // border: 1px solid #000;
}
}

>.bg_sublninput{
display: none;
position: absolute;
top: 66px;
left: 0;
width: 100%;

>a{
  display: block;
  height: 130px;
  text-indent: -9999px;
  background-color: #e1e1e1;
  // border: 1px solid #000;
}
}

>.container{
position: relative;
// width: 980px;
width: 80%;
height: 66px;
margin: 0 auto;
// border: 1px solid #000;

>.logo{
position: absolute;
left: 0;
top: 0;
width: 350px;
text-indent: -9999px;
// border: 1px solid #000;

>a{
  display: block;
  height: 66px;
  line-height: 66px;
  background-image: url(../images/logo_w.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // border: 1px solid #000;

}

}//end of .logo

>.top-nav{
position: absolute;
right: 50%;
margin-right: -450px;
top: 0;
// border: 1px solid #000;


>.top-gnb{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 750px;
  // background-color: rgb(241, 138, 138);
  
  >li{
    // outline: 1px solid blue;
    width: 200px;
    height: 66px;

    >a{
      display: block;
      height: 66px;
      line-height: 66px;
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: 600;
      text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.6);
    }

    >.lnb{
      display: none;
      margin-top: 20px;

      >li{

        >a{
          display: block;
          height: 25px;
          line-height: 25px;
          text-indent: 10px;
          font-size: 14px;
          font-weight: 500;

          &:hover{
            color: rgb(0, 14, 172);
            font-weight: 600;
            // background-color: #D31145;
          }
        }//end of a
      }//end of li
    }//end of .lnb
  }//end of li
}//end of .gnb
}//end of top-nav

>.sub-nav{
position: absolute;
right: 0;
top: 20px;

>.sub{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 130px;
  // border: 1px solid #000;

>li{
  // width: 50px;
  border-radius: 4px;
  height: 66px;
  
  >a{
    display: block;
    padding: 2px 5px;
    // height: 35px;
    // line-height: 35px;
    color: white;
    font-weight: 500;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);

    &:hover{
      color: white;
      background-color: rgb(11, 0, 160);
      // border: 1px solid #000;   
      
    }
  }
  
  >.sub-lnb-none{
    display: none;
    >li{
      display: none;
      >a{
        text-indent: -9999px;
      }
    }
  }//end of .sub-lnb-none
  
  >.sub-lnb-family{
    // display: none;
    position: absolute;
    top: 75px;
    right: 100px;
    display: flex;
    
    // border: 1px solid #000;
    
    >li{
      display: none;
      width: 300px;
      height: 180px;
      margin-right: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      // border: 1px solid #000;

        &:before{
          display: block;
          width: 300px;
          height: 180px;
          background-color: rgba(3, 14, 169, 0.669);
          content: '';
        }

        &:hover{

          &:before{
            display: block;
            width: 300px;
            height: 180px;
            background-color: rgba(4, 111, 204, 0.591);
            content: '';
          }
        }

        >a{
          display: block;
          position: absolute;
          top: 0;
        width: 300px;
        height: 180px;
        line-height: 180px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 800;
      }//end of a

      &:nth-child(1){
        background-image: url(../images/fmenu1.png);
      }

      &:nth-child(2){
        background-image: url(../images/fmenu2.png);
      }

      &:nth-child(3){
        background-image: url(../images/fmenu3.png);
      }

      &:nth-child(4){
        background-image: url(../images/fmenu4.png);
      }
    }//end of li

    
  }//end of .sub-lnb-family
  
  >.sub-lnb-input{
    display: none;
    >.input{
      position: absolute;
      top: 69px;
      right: 400px;
      
      >input{
        display: block;
        width: 800px;
        height: 70px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 400;
        text-indent: 30px;
        box-shadow: 2px 2px 4px rgb(155, 155, 155);
      }
    }
  } //end of .sub-lnb-input
}//end of li
}//end of .sub
} //end of .sub-nav
}//end of .container

>.side-gnb{
position: absolute;
top: 50%;
right: -50px;
margin-top: 320px;
width: 200px;
z-index: 500;

>.sideg{

  >li{
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    // border: 1px solid rgb(255, 255, 255);

    &:hover{
      color: white;
      font-weight: 600;

      >a{

        >span{
          background-color: #fff;
        }
      }
    }

    
    >a{
      display: block;
      // width: 300px;
      height: 50px;
      line-height: 50px;
      // text-align: center;
      color: white;
      // border: 1px solid #000;
      text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.523);


      >span{
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 20px;
        line-height: 10px;
        border-radius: 50%;
        border: 1px solid rgb(255, 255, 255);
        text-indent: -9999px;

        
      }
    }
  }

}//end of .gnb

}//end of nav

}//end of header

>section{
  // position: relative;

  >article{
    display: block;
    height: 900px;
    font-size: 150px;
    line-height: 900px;
    text-align: center;

    &:nth-child(2n+1){
      background-color: skyblue;
    }

    &:nth-child(2n){
      background-color: pink;
    }
    
    &.visual{
      position: relative;
      background-color: transparent;

      >div{
        display: none;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        // border: 10px solid red;

        &:first-child{display: block;}

        >video{
          position: relative;
          left: 50%;
          z-index: -1;
          width: 100%;
          min-width: 2000px;
          // border: 1px solid rgb(248, 13, 13);
        }
        
        >p{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          margin: -150px 0 100px 0;
          text-align: center;

          >.hook{
            display: block;
            width: 100%;
            margin-bottom: 20px;
            color: white;
            font-weight: 800;
            font-size: 70px;
            line-height: 1.6;
            text-shadow: 2px 2px 2px gray;
          }
          
          >.txt{  
            display: block;
            width: 100%;
            line-height: 1.4;
            color: white;
            font-size: 27px;
            font-weight: 600;
            text-align: center;
            font-style: normal;
            
            >span{
              display: block;
            }

          }

        }

      }//end of div
  }//end of .visual

  &.company{
    position: relative;
    width: 100%;
    
    
    .slides{
      z-index: 200;
      overflow: hidden;
      // position: relative;
      position: absolute;
      top: 0;
      left: 0;
      // width: 1130px;
      // height: calc(190px + 358px + 52px);
      // margin: 20px auto;
      width: 100%;
      height: 900px;
      // border: 1px solid gold;
      
      >.slides-container{
        // display: none;	
        // left: calc(-100% * 1);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% * 3);
        display: flex;
        flex-flow: row nowrap;
        transition: all .8s ease-in-out;
        
        >.contents{
          // width: calc(100% / 3);
          height: 900px;
          width: 100%;
          background-image: url(../images/main-area-2.png);
          // outline: 3px solid rgb(0, 14, 172);
          
          >h2{         
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: normal;
            // border: 1px solid #000;
          }
      
          >p{
            font-size: 37px;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
      
            >span{
              display: block;
            }
          }

          >.story{
            width: 380px;
            font-size: 20px;
            font-weight: 200;
            line-height: 1.4;
            text-align: left;
            >span{
              display: block;
            }
          }

          &.contents:nth-child(1),
          &.contents:nth-child(2),
          &.contents:nth-child(3){
            position: relative;
            >h2{
              position: absolute;
              top: 80px;
              left: 350px;
            }

            >p{
              position: absolute;
              top: 200px;
              left: 350px;
            }

            >.story{
              position: absolute;
              top: 300px;
              left: 1000px;
            }
          }

        } //end of .contents


        >.floating-img{
          position: absolute;

          >img{
            width: 500px;
            height: 280px;
            background-size: cover;
            background-position: center center;

            // border: 1px solid #000;

            &:nth-child(1){
              position: absolute;
              top: 400px;
              left: -300px;
            }

            &:nth-child(2){
              position: absolute;
              top: 400px;
              left: 350px;
            }

            &:nth-child(3){
              position: absolute;
              top: 500px;
              left: 1000px;
            }

            &:nth-child(4){
              position: absolute;
              top: 400px;
              left: calc(1000px + 600px);
            }

            &:nth-child(5){
              position: absolute;
              top: 400px;
              left: calc(1000px + 600px + 650px);
            }

            &:nth-child(6){
              position: absolute;
              top: 500px;
              left: calc(1000px + 600px + 600px + 680px);
            }

            &:nth-child(7){
              position: absolute;
              top: 400px;
              left: calc(1000px + 600px + 600px + 680px + 650px);
            }

            &:nth-child(8){
              position: absolute;
              top: 400px;
              left: calc(1000px + 600px + 600px + 680px + 650px + 620px);
            }

            &:nth-child(9){
              position: absolute;
              top: 500px;
              left: calc(1000px + 600px + 600px + 680px + 650px + 580px + 680px);
            }

            &:nth-child(10){
              position: absolute;
              top: 400px;
              left: calc(1000px + 600px + 600px + 680px + 650px + 580px + 680px + 650px);
            }
          }
        }
        

        >.slides-pagination{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        
          width: 700px;
          // margin-left: -90px;
          // border: 1px solid #000;
        
          position: absolute;
          left: 950px;
          top: 150px;
          z-index: 300;

          >li{
            width: 150px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            // font-weight: normal;
            border-top: 1px solid rgb(255, 255, 255);

            &:hover,&.on{
              border-top: 3px solid rgb(60, 90, 240);
              transition: all 0.2s ease-in;

            }//end of :hover
            

            >a{
              display: block;
              color: white;

              &.on{
                color: rgb(60, 90, 240);
                transition: all 0.2s ease-in;

              }

            } //end of a
            
          } //end of li
        }//end of pagination

      }//end of .slides-container
    }//end of .slides

  }
  }//end of article
   
  >.boxes{
    // position: absolute;
    position: relative;
    // top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;

    >.box-pagination{
      position: absolute;
      // position: relative;
      bottom: 100px;
      left: 50%;
      margin-left: -800px; //*
      display: flex;

      >li{
        width: 251px;
        height: 50px;
        margin-left: 80px; //*
        line-height: 50px;
        border-top: 1px solid rgb(255, 255, 255);

        >a{
          display: block;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
          text-align: center;
          color: white;

        }//end of a

        &.on,
        &:hover{
          border-top: 2px solid rgb(255, 255, 255);
          >a{
            font-weight: normal;
          }
        }
      }//end of li
    }//end of .box-pagination

    >.boxwrap{
      // overflow: hidden;
      // position: absolute;
      position: relative;
      bottom: 0;
      left: 50%;
      margin-left: -720px; //*
      width: calc(251px * 5 - 20px);
      // border: 10px solid rgb(255, 255, 255);
      // z-index: 100;

    >.box-container{
      // display: none;
      position: absolute;
      // left: 50%;
      // margin-left: -720px; //*
      width: 251px;
      height: 300px;
      transition: 0.5s ease-in-out;
      z-index: 100;
      
      &:nth-child(1){
        position: absolute;
        left: 0;
      }
      
      &:nth-child(2){
        position: absolute;
        left: calc(0px + 251px + 80px);
        // border: 1px solid #000;
      }
      
      &:nth-child(3){
        position: absolute;
        left: calc((0px + 251px + 80px) * 2);
        // border: 1px solid #000;
      }

      &:nth-child(4){
        position: absolute;
        left: calc((0px + 251px + 80px) * 3);
        // border: 1px solid #000;
      }

      >.slideup-lnb{
        width: 251px;
        height: 300px;
        background-image: url(../images/bmenu1.png);
        background-size: cover;
        background-position: center center;

        >.bicon{
          position: absolute;
          top: 20px;
          right: 20px;
          color: white;
          >a{
            display: block;
            width: 16px;
            height: 16px;
            text-indent: -9999px;
            background-image: url(../images/bicon.png);
            // border: 1px solid #000;

          }
        }
        >a{
          display: block;
          text-align: left;
          padding: 20px;
          box-sizing: border-box;
          >.ko{
            color: white;
            font-size: 18px;
            font-weight: 600;
          }
          >.en{
            color: #cfefffde;
            font-size: 16px;
            font-weight: 600;
          }
          >.frame{
            display: block;
            width: 109px;
            height: 91px;
            margin: 20px 10px;
            background-image: url(../images/bicon1.png);
            background-size: contain;
            background-repeat: no-repeat;
            text-indent: -9999px;

          }
          >.explain{
            color: white;
          }
        }
      }//end of .slideup-lnb
    }//end of .box-contianer
    }//end of .boxwrap
  }//end of .boxes

      
    
}//end of section


>footer{//*

>address{
height: 100px;
line-height: 100px;
text-align: center;
background-color: #eee;

}
} //end of footer

>aside{//*
position: fixed;
right: 1em;
bottom: 1em;

>a{
display: block;
width: 28px;
height: 28px;
line-height: 28px;
text-align: center;
background-color: #03a63c;

>i{
  color: white;

}

}

}//end of aside
} //end of #wrap

} //end of body