@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
body {
  font-family: 'Noto Sans KR', 'Nanum Pen Script', 돋움;
}

body > #wrap > header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 66px;
  z-index: 100;
}

body > #wrap > header:hover, body > #wrap > header.on {
  background-color: white;
}

body > #wrap > header:hover > .container, body > #wrap > header.on > .container {
  width: 80%;
}

body > #wrap > header:hover > .container > .logo > a, body > #wrap > header.on > .container > .logo > a {
  background-image: url(../images/logo.png);
}

body > #wrap > header:hover > .container > .top-nav > .top-gnb > li > a, body > #wrap > header.on > .container > .top-nav > .top-gnb > li > a {
  color: #00021e;
  text-shadow: none;
}

body > #wrap > header:hover > .container > .sub-nav > .sub > li > a, body > #wrap > header.on > .container > .sub-nav > .sub > li > a {
  border: 1px solid #000;
  color: #000;
}

body > #wrap > header > .bg_lnb {
  display: none;
  position: absolute;
  left: 0;
  top: 66px;
  width: 100%;
}

body > #wrap > header > .bg_lnb > a {
  display: block;
  height: 174px;
  text-indent: -9999px;
  background-color: #e1e1e1;
}

body > #wrap > header > .bg_sublnbfamily {
  display: none;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
}

body > #wrap > header > .bg_sublnbfamily > a {
  display: block;
  height: 250px;
  text-indent: -9999px;
  background-color: #e1e1e1;
}

body > #wrap > header > .bg_sublninput {
  display: none;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
}

body > #wrap > header > .bg_sublninput > a {
  display: block;
  height: 130px;
  text-indent: -9999px;
  background-color: #e1e1e1;
}

body > #wrap > header > .container {
  position: relative;
  width: 80%;
  height: 66px;
  margin: 0 auto;
}

body > #wrap > header > .container > .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 66px;
  line-height: 66px;
  text-indent: -9999px;
}

body > #wrap > header > .container > .logo > a {
  display: block;
  height: 66px;
  line-height: 66px;
  background-image: url(../images/logo_w.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body > #wrap > header > .container > .top-nav {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -420px;
}

body > #wrap > header > .container > .top-nav > .top-gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

body > #wrap > header > .container > .top-nav > .top-gnb > li > a {
  display: block;
  height: 66px;
  padding: 0 20px;
  color: white;
  line-height: 66px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.6);
}

body > #wrap > header > .container > .top-nav > .top-gnb > li > .lnb {
  display: none;
  margin-top: 20px;
}

body > #wrap > header > .container > .top-nav > .top-gnb > li > .lnb > li {
  margin-left: 20px;
}

body > #wrap > header > .container > .top-nav > .top-gnb > li > .lnb > li > a {
  display: block;
  height: 25px;
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}

body > #wrap > header > .container > .top-nav > .top-gnb > li > .lnb > li > a:hover {
  color: #000eac;
  font-weight: 600;
}

body > #wrap > header > .container > .sub-nav {
  position: absolute;
  right: 0;
  top: 20px;
}

body > #wrap > header > .container > .sub-nav > .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

body > #wrap > header > .container > .sub-nav > .sub > li {
  border-radius: 4px;
  height: 66px;
}

body > #wrap > header > .container > .sub-nav > .sub > li > a {
  display: block;
  padding: 2px 5px;
  color: white;
  font-weight: 500;
  text-align: center;
  border: 1px solid white;
}

body > #wrap > header > .container > .sub-nav > .sub > li > a:hover {
  color: white;
  background-color: #0b00a0;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-none {
  display: none;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-none > li {
  display: none;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-none > li > a {
  text-indent: -9999px;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family {
  display: none;
  position: absolute;
  top: 75px;
  right: 100%;
  margin-right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li {
  display: none;
  width: 300px;
  height: 180px;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:before {
  display: block;
  width: 300px;
  height: 180px;
  background-color: rgba(3, 14, 169, 0.669);
  content: '';
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:hover:before {
  display: block;
  width: 300px;
  height: 180px;
  background-color: rgba(4, 111, 204, 0.591);
  content: '';
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li > a {
  display: block;
  position: absolute;
  top: 0;
  width: 300px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:nth-child(1) {
  background-image: url(../images/fmenu1.png);
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:nth-child(2) {
  background-image: url(../images/fmenu2.png);
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:nth-child(3) {
  background-image: url(../images/fmenu3.png);
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-family > li:nth-child(4) {
  background-image: url(../images/fmenu4.png);
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-input {
  display: none;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-input > .input {
  position: absolute;
  top: 75px;
  right: 300%;
  margin-right: -100px;
}

body > #wrap > header > .container > .sub-nav > .sub > li > .sub-lnb-input > .input > input {
  display: block;
  width: 800px;
  height: 70px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  text-indent: 30px;
  -webkit-box-shadow: 2px 2px 4px #9b9b9b;
          box-shadow: 2px 2px 4px #9b9b9b;
}

body > #wrap > header > .side-gnb {
  position: absolute;
  top: 50%;
  right: -50px;
  margin-top: 320px;
  width: 200px;
  z-index: 500;
}

body > #wrap > header > .side-gnb > .sideg > li {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
}

body > #wrap > header > .side-gnb > .sideg > li:hover, body > #wrap > header > .side-gnb > .sideg > li.on {
  color: white;
  font-weight: 600;
}

body > #wrap > header > .side-gnb > .sideg > li:hover > a > span, body > #wrap > header > .side-gnb > .sideg > li.on > a > span {
  background-color: #fff;
}

body > #wrap > header > .side-gnb > .sideg > li > a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: white;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.523);
}

body > #wrap > header > .side-gnb > .sideg > li > a > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  line-height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  text-indent: -9999px;
}

body > #wrap > section {
  position: relative;
}

body > #wrap > section > .visual {
  display: block;
  height: 900px;
  font-size: 150px;
  line-height: 900px;
  text-align: center;
  background-color: transparent;
}

body > #wrap > section > .visual > div {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

body > #wrap > section > .visual > div:first-child {
  display: block;
}

body > #wrap > section > .visual > div > video {
  position: relative;
  left: 50%;
  z-index: -1;
  width: 100%;
  min-width: 2000px;
}

body > #wrap > section > .visual > div > p {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: -150px 0 100px 0;
  text-align: center;
}

body > #wrap > section > .visual > div > p > .hook {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  font-weight: 800;
  font-size: 70px;
  line-height: 1.6;
  text-shadow: 2px 2px 2px gray;
}

body > #wrap > section > .visual > div > p > .txt {
  display: block;
  width: 100%;
  line-height: 1.4;
  color: white;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  font-style: normal;
}

body > #wrap > section > .visual > div > p > .txt > span {
  display: block;
}

body > #wrap > section > .boxes {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: calc((245px * 4) + (52px * 3));
  color: white;
  margin-left: -600px;
}

body > #wrap > section > .boxes > .box-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body > #wrap > section > .boxes > .box-pagination > li {
  width: 245px;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid white;
  margin-left: 51px;
}

body > #wrap > section > .boxes > .box-pagination > li:first-child {
  margin-left: 0;
}

body > #wrap > section > .boxes > .box-pagination > li > a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
}

body > #wrap > section > .boxes > .box-pagination > li.on > a, body > #wrap > section > .boxes > .box-pagination > li:hover > a {
  font-weight: normal;
}

body > #wrap > section > .boxes > .boxwrap {
  width: 100%;
}

body > #wrap > section > .boxes > .boxwrap > .box-container {
  position: absolute;
  bottom: -400px;
  width: 245px;
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(1) {
  left: 0;
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(1) > .slideup-lnb {
  background-image: url(../images/bmenu1.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(1) > .slideup-lnb > a > .frame {
  background-image: url(../images/bicon1.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(2) {
  left: calc(245px + 52px);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(2) > .slideup-lnb {
  background-image: url(../images/bmenu2.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(2) > .slideup-lnb > a > .frame {
  background-image: url(../images/bicon2.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(3) {
  left: calc((245px + 52px) * 2);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(3) > .slideup-lnb {
  background-image: url(../images/bmenu3.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(3) > .slideup-lnb > a > .frame {
  background-image: url(../images/bicon3.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(4) {
  left: calc((245px + 52px) * 3);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(4) > .slideup-lnb {
  background-image: url(../images/bmenu4.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container:nth-child(4) > .slideup-lnb > a > .frame {
  background-image: url(../images/bicon4.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb {
  width: 251px;
  height: 300px;
  background-size: cover;
  background-position: center center;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > .bicon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > .bicon > a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background-image: url(../images/bicon.png);
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > a {
  display: block;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > a > .ko {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > a > .en {
  color: #cfefffde;
  font-size: 16px;
  font-weight: 600;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > a > .frame {
  display: block;
  width: 109px;
  height: 91px;
  margin: 20px 10px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

body > #wrap > section > .boxes > .boxwrap > .box-container > .slideup-lnb > a > .explain {
  color: white;
}

body > #wrap > .company {
  position: relative;
  width: 100%;
  height: 1000px;
}

body > #wrap > .company .slides {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
}

body > #wrap > .company .slides > .slides-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

body > #wrap > .company .slides > .slides-container > .contents {
  height: 1000px;
  width: 100%;
  background-image: url(../images/main-area-2.png);
}

body > #wrap > .company .slides > .slides-container > .contents > p {
  color: #222281;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

body > #wrap > .company .slides > .slides-container > .contents > p > span {
  display: block;
}

body > #wrap > .company .slides > .slides-container > .contents > .story {
  width: 380px;
  color: #222281;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  text-align: left;
}

body > #wrap > .company .slides > .slides-container > .contents > .story > span {
  display: block;
}

body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(1), body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(2), body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(3) {
  position: relative;
}

body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(1) > p, body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(2) > p, body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(3) > p {
  position: absolute;
  top: 300px;
  left: 15%;
}

body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(1) > .story, body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(2) > .story, body > #wrap > .company .slides > .slides-container > .contents.contents:nth-child(3) > .story {
  position: absolute;
  top: 350px;
  left: 63%;
}

body > #wrap > .company .slides > .slides-container > .floating-img {
  position: absolute;
  top: 100px;
}

body > #wrap > .company .slides > .slides-container > .floating-img > img {
  width: 500px;
  height: 280px;
  background-size: cover;
  background-position: center center;
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(1) {
  position: absolute;
  top: 450px;
  left: -300px;
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(2) {
  position: absolute;
  top: 450px;
  left: 350px;
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(3) {
  position: absolute;
  top: 500px;
  left: 1000px;
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(4) {
  position: absolute;
  top: 450px;
  left: calc(1000px + 600px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(5) {
  position: absolute;
  top: 450px;
  left: calc(1000px + 600px + 650px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(6) {
  position: absolute;
  top: 500px;
  left: calc(1000px + 600px + 600px + 680px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(7) {
  position: absolute;
  top: 450px;
  left: calc(1000px + 600px + 600px + 680px + 650px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(8) {
  position: absolute;
  top: 450px;
  left: calc(1000px + 600px + 600px + 680px + 650px + 620px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(9) {
  position: absolute;
  top: 500px;
  left: calc(1000px + 600px + 600px + 680px + 650px + 580px + 680px);
}

body > #wrap > .company .slides > .slides-container > .floating-img > img:nth-child(10) {
  position: absolute;
  top: 450px;
  left: calc(1000px + 600px + 600px + 680px + 650px + 580px + 680px + 650px);
}

body > #wrap > .company .slides > .slides-index {
  position: absolute;
  top: 200px;
  left: 15%;
  width: 70%;
  height: 50px;
  line-height: 50px;
}

body > #wrap > .company .slides > .slides-index > h2 {
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: #222281;
  font-weight: normal;
}

body > #wrap > .company .slides > .slides-index > .slides-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  margin-left: 65%;
}

body > #wrap > .company .slides > .slides-index > .slides-pagination > li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.695);
}

body > #wrap > .company .slides > .slides-index > .slides-pagination > li:hover, body > #wrap > .company .slides > .slides-index > .slides-pagination > li.on {
  border-top: 3px solid #222281;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > .company .slides > .slides-index > .slides-pagination > li:hover > a, body > #wrap > .company .slides > .slides-index > .slides-pagination > li.on > a {
  color: #222281;
  font-weight: normal;
}

body > #wrap > .company .slides > .slides-index > .slides-pagination > li > a {
  display: block;
  color: white;
}

body > #wrap > .company .slides > .slides-index > .slides-pagination > li > a.on {
  color: #3c5af0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > .management {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 1000px;
}

body > #wrap > .management .slides-manage {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
}

body > #wrap > .management .slides-manage > .manage-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents {
  height: 1000px;
  width: 100%;
  background-size: contain;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents:nth-child(1) {
  background-image: url(../images/main-area-3-1.png);
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents:nth-child(2) {
  background-image: url(../images/main-area-3-2.png);
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents:nth-child(3) {
  background-image: url(../images/main-area-3-3.png);
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer {
  position: absolute;
  top: 300px;
  padding-left: 5%;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .titlephrase {
  margin-bottom: 40px;
  color: #222281;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .titlephrase > span {
  display: block;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .formore {
  margin-bottom: 40px;
  color: #3a3a3d;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .formore > span {
  display: block;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .clickbox {
  display: inline-block;
  padding: 10px;
  background-color: white;
  border: 1px solid #222281;
  border-radius: 10px;
}

body > #wrap > .management .slides-manage > .manage-container > .manage-contents > .textContainer > .clickbox a {
  color: #222281;
  font-size: 14px;
  font-weight: normal;
}

body > #wrap > .management .slides-manage > .manage-index {
  position: absolute;
  top: 200px;
  left: 15%;
  width: 70%;
  height: 50px;
  line-height: 50px;
}

body > #wrap > .management .slides-manage > .manage-index > h2 {
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: #222281;
  font-weight: normal;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  margin-left: 65%;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  border-top: 1px solid #8a8a8a;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li:hover, body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li.on {
  border-top: 3px solid #222281;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li:hover > a, body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li.on > a {
  color: #222281;
  font-weight: normal;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li > a {
  display: block;
  color: #8a8a8a;
}

body > #wrap > .management .slides-manage > .manage-index > .manage-pagination > li > a.on {
  color: #3c5af0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > .advertise {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 1000px;
}

body > #wrap > .advertise .slides-ad {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
}

body > #wrap > .advertise .slides-ad > .ad-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents {
  height: 1000px;
  width: 100%;
  background-size: contain;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(1) {
  background-image: url(../images/main-area-5.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(1) > .adwarp > .adboxContainer > a:nth-child(1) > .adbox > ul > .img {
  background-image: url(../images/getImage-1-3.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(1) > .adwarp > .adboxContainer > a:nth-child(2) > .adbox > ul > .img {
  background-image: url(../images/getImage-1-3.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(1) > .adwarp > .adboxContainer > a:nth-child(3) > .adbox > ul > .img {
  background-image: url(../images/getImage.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(1) > .adwarp > .adboxContainer > a:nth-child(4) > .adbox > ul > .img {
  background-image: url(../images/getImage-1.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) {
  background-image: url(../images/main-area-52.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) > .adwarp > .adboxContainer > a:nth-child(1) {
  width: calc((100% / 3 - 12%)*2);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) > .adwarp > .adboxContainer > a:nth-child(1) > .adbox > ul {
  padding-top: 40px;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) > .adwarp > .adboxContainer > a:nth-child(1) > .adbox > ul > .img {
  width: 90%;
  height: 300px;
  background-image: url(../images/homePR1.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) > .adwarp > .adboxContainer > a:nth-child(2) > .adbox > ul > .img {
  background-image: url(../images/homePR3.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(2) > .adwarp > .adboxContainer > a:nth-child(3) > .adbox > ul > .img {
  background-image: url(../images/homePR2.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(3) {
  background-image: url(../images/main-area-53.png);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(3) > .adwarp > .adboxContainer > a:nth-child(1) > .adbox > ul > .img {
  background-image: url(../images/getImage-4.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(3) > .adwarp > .adboxContainer > a:nth-child(2) > .adbox > ul > .img {
  background-image: url(../images/getImage-5.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(3) > .adwarp > .adboxContainer > a:nth-child(3) > .adbox > ul > .img {
  background-image: url(../images/getImage-6.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents:nth-child(3) > .adwarp > .adboxContainer > a:nth-child(4) > .adbox > ul > .img {
  background-image: url(../images/getImage-7.do);
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp {
  position: absolute;
  top: 350px;
  width: calc(100% / 3 - 10%);
  margin-left: 5%;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer > a {
  display: block;
  width: calc(100% / 3 - 12%);
  height: 450px;
  -webkit-box-shadow: 2px 2px 8px gray;
          box-shadow: 2px 2px 8px gray;
  background-color: #fff;
  margin-left: 30px;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer > a:nth-child(1) {
  margin-left: 0px;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer > a > .adbox > ul > .img {
  height: 190px;
  background-image: url(../images/homePR1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer > a > .adbox > ul > .about {
  padding: 50px 20px;
  font-size: 16px;
}

body > #wrap > .advertise .slides-ad > .ad-container > .ad-contents > .adwarp > .adboxContainer > a > .adbox > ul > .date {
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

body > #wrap > .advertise .slides-ad > .adv-index {
  position: absolute;
  top: 200px;
  left: 15%;
  width: 70%;
  height: 50px;
  line-height: 50px;
}

body > #wrap > .advertise .slides-ad > .adv-index > h2 {
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: #222281;
  font-weight: normal;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  margin-left: 65%;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  border-top: 1px solid #8a8a8a;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li:hover, body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li.on {
  border-top: 3px solid #222281;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li:hover > a, body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li.on > a {
  color: #222281;
  font-weight: normal;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li > a {
  display: block;
  color: #8a8a8a;
}

body > #wrap > .advertise .slides-ad > .adv-index > .adv-pagination > li > a.on {
  color: #3c5af0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body > #wrap > footer {
  background-color: #7c7c7c;
  color: white;
}

body > #wrap > footer > .footercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 70px 0;
  line-height: 1.6;
  font-size: 12px;
}

body > #wrap > footer > .footercontainer > .left > .frame {
  width: 354px;
  height: 25px;
  margin-bottom: 20px;
  background-image: url(../images/logo_foot.png);
  text-indent: -9999px;
}

body > #wrap > footer > .footercontainer > .left > p:nth-child(2) {
  font-size: 14px;
  font-weight: 700;
}

body > #wrap > footer > .footercontainer > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

body > #wrap > footer > .footercontainer > .right > .laws {
  line-height: 2.2;
}

body > #wrap > footer > .footercontainer > .right > .laws > li > a {
  padding-left: 10px;
  color: white;
  border-left: 2px solid white;
}

body > #wrap > footer > .footercontainer > .right > .sns > p {
  padding-left: 10px;
  font-weight: 700;
  border-left: 2px solid white;
}

body > #wrap > footer > .footercontainer > .right > .sns > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 80%;
}

body > #wrap > footer > .footercontainer > .right > .sns > .icon > a {
  color: white;
  margin-left: 10px;
}

body > #wrap > footer > .footercontainer > .right > .sns > .icon > a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

body > #wrap > footer > .footercontainer > .right > .others > p {
  padding-left: 10px;
  font-weight: 700;
  border-left: 2px solid white;
}

body > #wrap > footer > .footercontainer > .right > .others > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 80%;
}

body > #wrap > footer > .footercontainer > .right > .others > .icon > a {
  color: white;
  margin-left: 10px;
}

body > #wrap > footer > .footercontainer > .right > .others > .icon > a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
}

body > #wrap > footer > address {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #eee;
}

body > #wrap > aside {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

body > #wrap > aside > a {
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #ffffff51;
}

body > #wrap > aside > a > i {
  color: white;
}
/*# sourceMappingURL=style.css.map */